/* Третье задание  */

td {
    border: 1px solid gray;
    width: 200px;
}

tr:nth-child(2n) td:nth-child(2){
    background: linear-gradient(#ffd4aa,#ff7f04);
}

tr:nth-child(odd) td:nth-child(4){
    background:#ff0000
}

tr:nth-child(5) td:nth-child(4){
    background:none
}

tr:nth-child(2n){
    background-color: #f8f8f8;
}

/* Второе задание*/

.warning{
    height: 50px;
    width: 50px;
    border: 1px solid gray;
    background-image: url('./305229.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}